<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
     <label for="item_品目">品目</label>
     <input type="text" class="form-control" name="item[item]" id="item_item">
   </div>
   
   
  <div class="form-group">
    <label for="item_購入金額">購入金額</label>
    <input type="number" class="form-control" name="item[price]" id="item_price">
  </div>
  

    <div class="form-group">
 <label for="item_コメント">コメント</label>
 <textarea class="form-control" rows="5" name="item[comment]" id="item_comment"></textarea>
</div> 

<div class="form-group">
     <label for="item_カテゴリー">カテゴリー</label>
     <input type="text" class="form-control" name="item[category]" id="item_category">
   </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
